$colors : (
    blue1: #0C2553,
    blue2: #88A7E2,
    blue3: #BFD2EF,
    white: #ffffff,
    brown: #BC7F4C,
    orange: #EDBE96
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 768px;
$desktop: 1050px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


body, html {
    height: 100%;
    padding: 0em;
    margin: 0em;
}

body {
    

    #bg {
        background-color: white;
        width:  calc(100% - 4em);
        height: calc(100vh - 4em);
        padding: 2em;
        display: grid;
        grid-template-columns: [col1-start] 70% [col1-end col2-start] 30% [col2-end];
        grid-template-rows: 8vh 18vh auto;

        @include tablet {
            grid-template-columns: [col1-start] 65% [col1-end col2-start] 35% [col2-end];
            grid-template-rows: 8vh 30vh auto;


        }

        @include desktop {
            grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end];

            grid-template-rows: [row1-start] 12vh [row1-end row2-start] 40vh [row2-end row3-start] 40vh [row3-end row4-start] auto [row4-end]; 

        }
    }
    nav {
        display: none;
    }
    
    a {
        text-decoration: none;
    }

    header {
        grid-row: 1;
        grid-column: col1-start / col2-end;
        // padding: 2em;

        @include desktop {
            grid-row: row1-start / row2-end;
        }


        .logo {
            width: 45px;
            
            @include tablet {
                width: 65px;
            }
        }
    
      
        .menu-btn {
            width: 45px;
            float: right;
            cursor: pointer;
            color: color(blue1);

            @include tablet {
                width: 65px;
            }
        }

        .menu-btn:hover {
            color: color(blue2);
        }

    }

    

    h1 {
        font-family: objektiv-mk2, sans-serif;
        font-weight: 10;
        font-style: normal;
        font-size: 2.5em;
        letter-spacing: 2px;
        margin: 0;
        text-align: left;
        padding: 0;
        color: color(blue1);

        @include tablet {
            font-size: 3.5em;
            letter-spacing: 3px;
            text-align: left;
        }

        @include desktop {
            font-size: 5em;
            letter-spacing: 4px;

        }
    }

    h2 {
        font-family: goudy-bookletter-1911,serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        font-size: 1em;
        margin: 0 0 0 0;
        color: color(blue1);
        @include tablet {
            font-size: 1.2em;
            text-align: left;
        }

        @include desktop {
            font-size: 1.8em;
            letter-spacing: .5px;
            width: 80%;
            text-align: center;
        }
    }



 

    .title {
        grid-row: 2;
        grid-column: col1-start / col1-end;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include tablet {
    
        }

        @include desktop {
            grid-row: row2-start / row2-end;
            grid-column: col1-start / col1-end;
            align-items: center;
        }


    }

    .pol_small { 
        grid-row: 2;
        grid-column: col2-start / col2-end;
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 .7em;
 

            
            @include tablet {
                align-items: center;
                justify-content: flex-start;
                
                
            }

            @include desktop {
                display: none;
            }

        .polar {

            width: 90%;
            @include tablet {
                width: 80%;
            }
        }
    }

    .pol_large { 
        display: none;

            @include desktop {
                grid-row: row3-start / row3-end;
                grid-column: col1-start / col1-end;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }

        .polar {

            @include desktop {
                width: 40%;
            }
        }
    }

    .gallery {
        grid-row: 3;
        
        grid-column: col1-start / col2-end;
        grid-gap: 3px;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(auto, 4);
        padding: 0;
        margin: 1.5em 0 2em 0;

        @include tablet {
            margin: 1.5em 0 2em 0;
        }

        @include desktop {
            width: calc(100% - 6em);
            margin: 3em;
            grid-row: row2-start / row4-end;
            grid-column: col2-start / col2-end;

        }

        .box {
            width: 100%;
            position: relative;
            padding: 25% 0em;
            
        }

        a:hover {
            .artwork {
                opacity: .5;
                cursor: pointer;
            }
        }

        .artwork {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            object-fit: cover;
            min-height: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 100%;
            
        }


    }

}
  