$colors : (
    blue1: #0C2553,
    blue2: #88A7E2,
    blue3: #BFD2EF,
    white: #ffffff,
    brown: #BC7F4C,
    orange: #EDBE96
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 768px;
$desktop: 1050px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


body, html {
    height: 100%;
    padding: 0em;
    margin: 0em;
}

body {
    

    #bg {
        background-color: white;
        width:  calc(100% - 4em);
        height: calc(100vh - 4em);
        padding: 2em;
        display: grid;
        grid-template-columns: [col1-start] 75% [col1-end col2-start] 25% [col2-end];
        grid-template-rows: 8vh 22vh auto;

        @include tablet {
            grid-template-columns: [col1-start] 1fr [col1-end col2-start] 3fr [col2-end col3-start] 1fr [col3-end];

            grid-template-rows: 8vh 22vh auto; 

        }

        @include desktop {
            grid-template-columns: [col1-start] 1fr [col1-end col2-start] 3fr [col2-end col3-start] 1fr [col3-end];

            grid-template-rows: 12vh 35vh auto; 

        }
    }
    
    a {
        text-decoration: none;
    }

    header {
        grid-row: 1;
        grid-column: col1-start / col2-end;
        // padding: 2em;

        @include tablet {
            grid-row: 1;
            grid-column: col1-start / col3-end;
        }


        .logo {
            width: 45px;
            
            @include tablet {
                width: 65px;
            }
        }
    
      
        .menu-btn {
            width: 45px;
            float: right;
            cursor: pointer;
            color: color(blue1);

            @include tablet {
                width: 65px;
            }
        }

        .menu-btn:hover {
            color: color(blue2);
        }

    }

    nav {
        position: absolute;
        z-index: 2;
        background: color(brown);
        padding: 2em;
        width:  calc(100% - 4em);
        height: calc(100vh - 4em);
        display: none;
        transform: scaleX(0);
        transform-origin: right;
        .close-btn {
            width: 45px;
            float: right;
            cursor: pointer;
            opacity: 0;
            @include tablet {
                width: 65px;
            }
        }

        ul {
            list-style-type: none;
            margin: 15% auto 0 auto;
            padding: 0;
            // flex-direction: column;
            // align-items: center;
            // justify-content: space-around;
            
            @include desktop {
                display: grid;
                grid-template-columns: repeat(4, 25%);
                width: 90%;
            }
            
           
            li {
                opacity: 0;
                margin: 1.5em;
                display: flex;
                flex-direction: column;
                align-items: center;
   
                @include desktop {
                    display: block;
                }
                
                
            }

            a {
                color: white;
                font-size: 2.5em;
                font-family: objektiv-mk2, sans-serif;
                font-weight: 10;
                font-style: normal; 
                @include desktop {
                    text-align: left;
                }
            }

            a:hover {
                color: color(blue1);
            }

            span {
                color: color(orange);
                text-align: center;
                display: block;
                max-width: 200px;
                font-size: .9em;
                margin-top: 20px;
                font-family: goudy-bookletter-1911,serif;
                font-weight: 400;
                font-style: normal;
                @include desktop {
                    text-align: left;
                }
            }
        }
    }

    

    h1 {
        font-family: objektiv-mk2, sans-serif;
        font-weight: 10;
        font-style: normal;
        font-size: 2.8em;
        letter-spacing: 2px;
        margin: 0.5em 0 0 0;
        text-align: left;
        padding: 0;
        color: color(blue1);

        @include tablet {
            font-size: 3.5em;
            letter-spacing: 3px;
            text-align: center;
        }

        @include desktop {
            font-size: 5em;
            letter-spacing: 4px;

        }
    }

    h2 {
        font-family: goudy-bookletter-1911,serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        font-size: 1em;
        margin: 0 0 0 0;
        color: color(blue1);
        @include tablet {
            font-size: 1.5em;
            text-align: center;
        }

        @include desktop {
            font-size: 1.8em;
            letter-spacing: .5px;
        }
    }



    .bun {
        display: none;

        @include tablet {
            display: block;
            grid-row: 2;
            grid-column: col1-start / col1-end;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include desktop {
            align-items: flex-end;
            justify-content: flex-end;
            padding: 2em 0 0 2em;
            
        }

        .bunny {
            @include tablet {
                width: 9vw;
            }
            @include desktop {
                width: 90%;
            }
        }
    }

    .title {
        grid-row: 2;
        grid-column: col1-start / col1-end;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include tablet {
            grid-row: 2;
            grid-column: col2-start / col2-end;
            align-items: center;
        }
    }

    .pol { 
        grid-row: 2;
        grid-column: col2-start / col2-end;
        
        display: flex;
        align-items: center;
        justify-content: center;

            @include tablet {
                grid-row: 2;
                grid-column: col3-start / col3-end;
            }

            @include desktop {
                align-items: center;
                justify-content: flex-start;
                padding: 0 2em;
            }

        .polar {
            width: 10vw;
            @include tablet {
                width: 6vw;
            }
        }
    }

    .gallery {
        grid-row: 3;
        
        grid-column: col1-start / col2-end;
        grid-gap: 3px;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(auto, 4);
        padding: 0;
        margin: 1.5em 0 2em 0;

        @include tablet {
            grid-row: 3;
            grid-column: col1-start / col3-end;
            grid-template-columns: auto auto;
        }

        @include desktop {
            grid-template-columns: auto auto auto auto;
            margin: 2.5em 0 2em 0;
        }

        .box {
            width: 100%;
            position: relative;
            padding-top: 100%;
            
            
        }

        a:hover {
            .artwork {
                opacity: .5;
                cursor: pointer;
            }
        }

        .artwork {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            object-fit: cover;
            min-height: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 100%;
        }


    }

}
   
.show-menu {
    display: block;
    animation: menu-appear .3s ease-in forwards;

    .close-btn {
        animation: button .3s .3s forwards;
    }

    li {
        animation: list-items .3s .3s forwards;
    }
}

.no-scroll {
    overflow: hidden;
}

@keyframes menu-appear {
    from {
        transform: scaleX(0);
    } to {
        transform: scaleX(1);
    }
}

@keyframes button {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes list-items {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
