body, html {
  width: 100%;
  height: 100%;
  padding: 0em;
  margin: 0em;
}

body #bg {
  background-color: white;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto auto;
  padding: 2em;
}

body a {
  text-decoration: none;
}

body header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (min-width: 1050px) {
  body header {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

body header .logo {
  width: 45px;
}

@media (min-width: 768px) {
  body header .logo {
    width: 65px;
  }
}

body header .menu-btn {
  width: 45px;
  float: right;
  cursor: pointer;
  color: #0C2553;
}

@media (min-width: 768px) {
  body header .menu-btn {
    width: 65px;
  }
}

body header .menu-btn:hover {
  color: #88A7E2;
}

body nav {
  display: none;
}

@media (min-width: 768px) {
  body .block {
    text-align: center;
    width: calc(100% - 4em);
    margin: 0 2em;
  }
}

@media (min-width: 1050px) {
  body .block {
    width: calc(100% - 12em);
    margin: 0 6em;
  }
}

body .title {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  color: #0C2553;
  margin-top: 2em;
}

body .title h1 {
  font-size: 3em;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  body .title h1 {
    font-size: 3.5em;
    letter-spacing: 3px;
  }
}

@media (min-width: 1050px) {
  body .title h1 {
    font-size: 4.5em;
    letter-spacing: 4px;
  }
}

body h1 {
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  letter-spacing: 1px;
  margin: .5em;
  color: #10162c;
}

@media (min-width: 768px) {
  body h1 {
    font-size: 2.3em;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media (min-width: 1050px) {
  body h1 {
    font-size: 3em;
    letter-spacing: 3px;
  }
}

body h2 {
  font-family: ariana-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  font-size: 1.2em;
  color: #10162c;
  margin: 1em;
}

@media (min-width: 768px) {
  body h2 {
    font-size: 1.5em;
    text-align: center;
  }
}

@media (min-width: 1050px) {
  body h2 {
    font-size: 1.8em;
    letter-spacing: .5px;
  }
}

body .sub {
  font-family: unibody-8-new,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  body .sub {
    font-size: 1.9em;
  }
}

body .image-section {
  width: calc(100%-4em);
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  body .image-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .image-section .item {
  width: 100%;
}

body .image-section .fonts img {
  width: 100%;
}
/*# sourceMappingURL=ktp.css.map */