$colors : (
    blue1: #0C2553,
    blue2: #88A7E2,
    blue3: #BFD2EF,
    white: #ffffff,
    brown: #BC7F4C,
    orange: #EDBE96
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 768px;
$desktop: 1050px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


body, html {
    height: 100%;
    padding: 0em;
    margin: 0em;
}

body {
    

    #bg {
        background-color: white;
        width:  calc(100% - 4em);
        height: calc(100vh - 4em);
        padding: 2em;
        display: grid;
        grid-template-rows: 8vh auto auto;

        @include tablet {
            grid-template-rows: 8vh auto auto; 
            grid-template-columns: 1fr;

        }

        @include desktop {
            
            grid-template-rows: 12vh auto auto; 

        }
    }
    
    a {
        text-decoration: none;
    }

    header {
        grid-row: 1;

    

        @include tablet {
            grid-row: 1;
        }


        .logo {
            width: 45px;
            
            @include tablet {
                width: 65px;
            }
        }
    
      
        .menu-btn {
            width: 45px;
            float: right;
            cursor: pointer;
            color: color(blue1);

            @include tablet {
                width: 65px;
            }
        }

        .menu-btn:hover {
            color: color(blue2);
        }

    }

    nav {
        display: none;
    }

    

    h1 {
        font-family: objektiv-mk2, sans-serif;
        font-weight: 10;
        font-style: normal;
        font-size: 2.8em;
        letter-spacing: 2px;
        text-align: left;
        padding: 0;
        margin: 0;
        color: color(blue1);

        @include tablet {
            font-size: 3.5em;
            letter-spacing: 3px;
            text-align: center;
            width: 80%;
        }

        @include desktop {
            font-size: 4em;
            letter-spacing: 4px;
            width: 70%;
        }
    }

    h2 {
        font-family: goudy-bookletter-1911,serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        font-size: 1em;
        color: color(blue1);
        margin-bottom:0;
        @include tablet {
            font-size: 1.5em;
            text-align: center;
        }

        @include desktop {
            font-size: 1.8em;
            letter-spacing: .5px;
        }
    }

    .title {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        padding: 1em 0;
        @include tablet {
            grid-row: 2;
            text-align: center;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            padding: 2em 0;

        }


    }

    
    .container {
        width: calc(100%-4em);
        grid-row: 3;
        grid-column: 1;
        margin-top: 0;
        margin-bottom: 2em;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .artwork {
        width: 100%;
        @include tablet {
            width: 80%;

        }

        @include desktop {
            width: 50%;

        }
    }
    

}
   
